<div class="otp-container">
    <h1 id="NewPassword">New Password</h1>
    <input type="email" class="form-control" placeholder="Enter your email" [(ngModel)]="email" name="email">
    <input type="password" class="form-control" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword">
    <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword">
    <div class="button-container">
        <button id="NewPasswordButton" type="button" (click)="savePassword()">Save Password</button>
    </div>
    <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>
    <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
